@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ::-webkit-scrollbar{width: 10px;}
::-webkit-scrollbar-track{background: rgb(241, 241, 241);}
::-webkit-scrollbar-thumb{background: rgb(136, 136, 136); border-radius: 10px;}
::-webkit-scrollbar-thumb:hover{background: rgb(85, 85, 85);} */

::-moz-selection{background-color: rgba(119, 124, 240, 0.4);}
::selection{background-color: rgba(119, 124, 240, 0.4);}

:root {
    --efride-black: #393e41;
    --efride-red: #c70404;
    --efride-blue: #00b1a7;
    --efride-grey: #929982;
    --efride-white: #f6f7eb;
    --scale-coef: 1.05;
    --anim-time: 0.5s;
    --scale-time: 0.3s;
    --radius: 10px;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: var(--efride-black);
}

body, textarea {
    font-family: 'Poppins', sans-serif;
}

main {
    text-align: center;
}

header, footer, img, .rejoindre {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a {
    text-decoration: none;
    color: var(--efride-black);
}

/******************************************************/

header {
    background-color: var(--efride-black);
    color: var(--efride-white);
    padding: 10px 50px 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    overflow: hidden;
}

.logo {
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

.logo img {
    height: 60px;
    width: auto;
    transition: transform var(--scale-time) ease;
}

.logo img:hover {
    transform: scale(var(--scale-coef));
}  

nav ul li a {
    display: inline-block;
    padding: 10px;
    color: var(--efride-white);
    transition: color var(--anim-time) ease;
}

nav ul li a:hover {
    color: var(--efride-red);
    transition: color var(--anim-time) ease;
}

nav ul li a.rejoindre {
    color: var(--efride-white);
    background-color: var(--efride-red);
    padding: 10px 20px;
    border-radius: var(--radius);
    transition: transform var(--scale-time) ease;
}

nav ul li a.rejoindre:hover {
    color: var(--efride-white);
    transform: scale(var(--scale-coef));
}

nav ul li .sc-contact {
    margin-right: 10px; /* Ajoute une marge à droite pour séparer du bouton "Nous rejoindre" */
}

header nav ul li .rejoindre {
    margin-left: 10px; /* Ajoute une marge à gauche pour séparer du lien "Contact" */
}
  
/******************************************************/

/* Ajoute un espacement vertical entre les sections */
section {
    margin-bottom: 40px;
}

/* Ajoute des paddings à l'intérieur des sections pour aérer le contenu */
section {
    padding: 20px;
}

/* Ajoute une marge interne (espacement) entre les éléments à l'intérieur des sections */
section > * {
margin-bottom: 20px;
}

/* Exemple de style pour le contenu texte d'une section */
.section-text {
    font-size: 18px;
    line-height: 1.5;
}

/* Exemple de style pour le titre principal d'une section */
.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/******************************************************/

.media-list{
    gap: 25px;
    padding: 20px;
}

.social-network{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.social-network button{
    margin: 0;
    padding: 10px;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: var(--radius);
    font-weight: bold;
    font-size: 16px;
    color: var(--efride-white);
    cursor: pointer;
    position: relative;
    transition: transform var(--scale-time) ease;
}

.social-network button:hover {
    transform: scale(var(--scale-coef));
}

#instagram button{
    background-color: rgb(226, 24, 74);
    background: -o-linear-gradient(left, rgb(255, 48, 25) 0%, rgb(201, 4, 119) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgb(255, 48, 25)), to(rgb(201, 4, 119)));
    background: linear-gradient(to right, rgb(255, 48, 25) 0%, rgb(201, 4, 119) 100%);
}

#tiktok button{
    background-color: rgb(30, 29, 29);
}

#linkedin button{
    background-color: rgb(0, 89, 131);
}

#discord button{
    background-color: rgb(81, 101, 246);
}

.social-network button span{
    position: absolute;
    left: 35%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sn-icon{
    position: absolute;
    left: 17%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 25px;
}

.embedsocial-hashtag{
    margin: 20px 0;
}

/******************************************************/

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.flex-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

/******************************************************/

.contact-form{
    text-align: center;
}

.form-elem{
    margin: 20px 0;
}

::-webkit-input-placeholder{
    color: rgb(153, 153, 153);
    font-size: 16px;
}

::-moz-placeholder{
    color: rgb(153, 153, 153);
    font-size: 16px;
}

:-ms-input-placeholder{
    color: rgb(153, 153, 153);
    font-size: 16px;
}

::-ms-input-placeholder{
    color: rgb(153, 153, 153);
    font-size: 16px;
}

::placeholder{
    color: rgb(153, 153, 153);
    font-size: 16px;
}

input, textarea{
    border: none;
    background-color: rgb(230, 230, 230);
    width: 400px;
    border-radius: var(--radius);
    padding: 0 30px;
    font-size: 16px;
    line-height: 1.5;
}

input{
    height: 50px;
}

textarea{
    height: 200px;
    padding: 20px 30px;
    resize: vertical;
    min-height: 200px;
    max-height: 1000px;
}

input:focus, textarea:focus{
    border: none;
    outline: none;
}

.submit-button button{
    border: none;
    width: 150px;
    height: 50px;
    border-radius: var(--radius);
    background-color: var(--efride-red);
    color: var(--efride-white);
    font-size: 18px;
    transition: transform var(--scale-time) ease;
}

.submit-button button:hover {
    transform: scale(var(--scale-coef));
    cursor: pointer;
}

/******************************************************/

#main-section{
    padding: 0px 25%;
}
