@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --efride-black: #393e41;
    --efride-red: #c70404;
    --efride-blue: #00b1a7;
    --efride-grey: #929982;
    --efride-white: #f6f7eb;
    --scale-coef: 1.05;
    --anim-time: 0.5s;
    --scale-time: 0.3s;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

main {
    text-align: center;
}

header, footer, img, .rejoindre {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/******************************************************/

header {
    background-color: var(--efride-black);
    color: var(--efride-white);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

.logo img {
    height: 50px;
    width: auto;
    transition: transform var(--scale-time) ease-in-out;
}

.logo img:hover {
    transform: scale(var(--scale-coef));
}  

nav ul li a {
    display: inline-block;
    padding: 10px;
    color: var(--efride-white);
    text-decoration: none;
    transition: color var(--anim-time) ease;
}

nav ul li a:hover {
    color: var(--efride-red);
    transition: color var(--anim-time) ease;
}

nav ul li a.rejoindre {
    color: var(--efride-white);
    background-color: var(--efride-red);
    padding: 10px 20px;
    border-radius: 5px;
    transition: transform var(--scale-time) ease;
    text-decoration: none;
}

nav ul li a.rejoindre:hover {
    color: var(--efride-white);
    transform: scale(var(--scale-coef));
}

nav ul li .sc-contact {
    margin-right: 10px; /* Ajoute une marge à droite pour séparer du bouton "Nous rejoindre" */
}

header nav ul li .rejoindre {
    margin-left: 10px; /* Ajoute une marge à gauche pour séparer du lien "Contact" */
}
  
/******************************************************/

/* Ajoute un espacement vertical entre les sections */
section {
    margin-bottom: 40px;
}

/* Ajoute des paddings à l'intérieur des sections pour aérer le contenu */
section {
    padding: 20px;
}

/* Ajoute une marge interne (espacement) entre les éléments à l'intérieur des sections */
section > * {
margin-bottom: 20px;
}

/* Exemple de style pour le contenu texte d'une section */
.section-text {
    font-size: 18px;
    line-height: 1.5;
}

/* Exemple de style pour le titre principal d'une section */
.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/******************************************************/

#section-caroussel {
    position: relative;
    height: 100vh; /* Occupe toute la hauteur de l'écran */
    overflow: hidden;
    margin-bottom: 20px; /* Ajoute une marge en bas pour séparer les sections */
}

#section-activites {
    margin-top: 20px; /* Ajoute une marge en haut pour séparer les sections */
}

.carousel {
    position: relative;
    height: 100vh; /* Occupe toute la hauteur de l'écran */
    overflow: hidden;
}

.carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.call-to-action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.call-to-action h2 {
    color: var(--efride-white);
    font-size: 24px;
    margin-bottom: 20px;
}

/******************************************************/
