/* EF'Ride - styles/style.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); /* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /* Bebas Neue */

::-moz-selection{background-color: rgba(119, 124, 240, 0.4);}
::selection{background-color: rgba(119, 124, 240, 0.4);}

:root{
    --efride-black: #393e41;
    --efride-red: #c70404;
    --efride-blue: #28666e;
    --efride-grey: #929982;
    --efride-white: #f6f7eb;
    --scale-coef: 1.05;
    --anim-time: 0.3s;
    --radius: 10px;
    --small-size: 14px;
    --medium-size: 16px;
    --large-size: 25px;
    --extra-large-size: 30px;
    --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    --transition: all var(--anim-time) ease-in-out;
    --header-height: 90px;
    --footer-height: 130px;
}

*, *::before, *::after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-margin-top: var(--header-height);
}

html, body{
    color: var(--efride-black);
    scroll-behavior: smooth;
    text-align: center;
    background-color: var(--efride-white);
    position: relative;
}

body, textarea, input, button{
    font-family: 'Poppins', sans-serif;
    font-size: var(--medium-size);
    line-height: 2;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Bebas Neue', sans-serif;
}

h1{
    font-size: var(--extra-large-size);
    margin-bottom: 20px;
    color: var(--efride-red);
}

header, img, .efride-button, .retour, .navv{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a{
    text-decoration: none;
    color: var(--efride-black);
}

main{
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

#main-section{
    padding: 0 5vw;
}

/******************************************************/

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.flex-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    gap: 20px;
}

/******************************************************/

.efride-button{
    margin: 0;
    padding: 0;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: var(--radius);
    font-weight: bold;
    cursor: pointer;
    position: relative;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    background-color: var(--efride-black);
    color: var(--efride-white);
}

.efride-button a{
    color: var(--efride-white);
    width: 100%;
    height: 100%;
}

.efride-button:hover{
    -webkit-transform: scale(var(--scale-coef));
    -ms-transform: scale(var(--scale-coef));
    transform: scale(var(--scale-coef));
}

.media-list .efride-button{
    width: 300px;
    height: 50px;
}

nav .efride-button{
    height: 50px;
    background-color: var(--efride-red);
    margin-left: 10px;
}

/******************************************************/

header{
    background-color: var(--efride-black);
    color: var(--efride-white);
    padding: 10px 50px 10px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    overflow: hidden;
    height: var(--header-height);
}

.logo{
    margin-right: 20px;
    width: auto;
    height: 90%;
    padding: 5px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

nav ul li{
    margin-right: 10px;
}

nav ul li:last-child{
    margin-right: 0;
}

.logo img{
    height: 100%;
    width: 100%;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.logo img:hover{
    -webkit-transform: scale(var(--scale-coef));
    -ms-transform: scale(var(--scale-coef));
    transform: scale(var(--scale-coef));
}  

nav ul li a{
    display: inline-block;
    padding: 10px;
    color: var(--efride-white);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

nav ul li a:hover{
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

nav ul li a.sc:hover{
    color: var(--efride-red);
}

/******************************************************/

section{
    margin-bottom: 40px;
}

section{
    padding: 20px;
}

section > *{
    margin-bottom: 20px;
}

/******************************************************/

#section-reseaux{
    max-width: 900px;
    margin: 0 auto;
}

.media-list{
    gap: 25px;
    padding: 20px;
}

.media-list .efride-button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.media-list .efride-button{
    margin: 0;
    padding: 0;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: var(--radius);
    font-weight: bold;
    color: var(--efride-white);
    cursor: pointer;
    position: relative;
}

.efride-button#instagram{
    background-color: rgb(226, 24, 74);
    background: -webkit-gradient(linear, left top, right top, from(rgb(255, 48, 25)), to(rgb(201, 4, 119)));
    background: -o-linear-gradient(left, rgb(255, 48, 25) 0%, rgb(201, 4, 119) 100%);
    background: linear-gradient(to right, rgb(255, 48, 25) 0%, rgb(201, 4, 119) 100%);
}

.efride-button#tiktok{
    background-color: rgb(30, 29, 29);
    background: -webkit-gradient(linear, left top, right top, from(rgb(30, 29, 29)), to(rgb(86, 84, 84)));
    background: -o-linear-gradient(left, rgb(30, 29, 29) 0%, rgb(86, 84, 84) 100%);
    background: linear-gradient(to right, rgb(30, 29, 29) 0%, rgb(86, 84, 84) 100%);
}

.efride-button#linkedin{
    background-color: rgb(0, 89, 131);
    background: -webkit-gradient(linear, left top, right top, from(rgb(0, 89, 131)), to(rgb(27, 126, 172)));
    background: -o-linear-gradient(left, rgb(0, 89, 131) 0%, rgb(27, 126, 172) 100%);
    background: linear-gradient(to right, rgb(0, 89, 131) 0%, rgb(27, 126, 172) 100%);
}

.efride-button#discord{
    background-color: rgb(81, 101, 246);
    background: -webkit-gradient(linear, left top, right top, from(rgb(81, 101, 246)), to(rgb(124, 132, 190)));
    background: -o-linear-gradient(left, rgb(81, 101, 246) 0%, rgb(124, 132, 190) 100%);
    background: linear-gradient(to right, rgb(81, 101, 246) 0%, rgb(124, 132, 190) 100%);
}

.media-list .efride-button span{
    position: absolute;
    left: 35%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sn-icon{
    position: absolute;
    left: 17%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 25px;
}

/******************************************************/

.form-elem{
    margin: 20px 0;
}

::-webkit-input-placeholder{
    color: rgb(153, 153, 153);
}

::-moz-placeholder{
    color: rgb(153, 153, 153);
}

:-ms-input-placeholder{
    color: rgb(153, 153, 153);
}

::-ms-input-placeholder{
    color: rgb(153, 153, 153);
}

::placeholder{
    color: rgb(153, 153, 153);
}

input, textarea{
    border: none;
    background-color: rgb(230, 230, 230);
    width: 400px;
    border-radius: var(--radius);
    padding: 0 30px;
    max-width: 100%;
}

input{
    height: 50px;
}

textarea{
    height: 200px;
    padding: 20px 30px;
    resize: vertical;
    min-height: 200px;
    max-height: 1000px;
}

input:focus, textarea:focus{
    border: none;
    outline: none;
}

.submit-button button{
    border: none;
    width: 150px;
    height: 50px;
    border-radius: var(--radius);
    background-color: var(--efride-red);
    color: var(--efride-white);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.submit-button button:hover{
    -webkit-transform: scale(var(--scale-coef));
    -ms-transform: scale(var(--scale-coef));
    transform: scale(var(--scale-coef));
    cursor: pointer;
}

/******************************************************/

/* Inspired from https://codepen.io/utilitybend/pen/bGvjLba */

.card{
    --img-scale: 1;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    --arrow-color: transparent;
    position: relative;
    width: 300px;
    height: 450px;
    border-radius: var(--radius);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    scroll-margin-top: calc(var(--header-height) + 30px);
}

.card figure{
    width: 100%;
    height: 50%;
    border-radius: var(--radius) var(--radius) 0 0;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    overflow: hidden;
}

.card figure img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    border-radius: var(--radius) var(--radius) 0 0;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale(var(--img-scale));
    -ms-transform: scale(var(--img-scale));
    transform: scale(var(--img-scale));
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.card-body{
    padding: 10px;
    text-align: left;
}

.card-body h2{
    font-size: var(--large-size);
    text-align: center;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.card:hover h2{
    color: var(--efride-blue);
}

.card-body p{
    font-size: var(--small-size);
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-body a{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--efride-blue);
}

.card-body a .icon{
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    -webkit-transform: translateX(var(--link-icon-translate));
    -ms-transform: translateX(var(--link-icon-translate));
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    color: var(--arrow-color);
}

.card-body a span{
    color: var(--efride-blue);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.card:has(:hover, :focus){
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    cursor: pointer;
    --img-scale: var(--scale-coef);
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    --arrow-color: var(--efride-blue);
}

.card a::after{
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    content: "";
}

/******************************************************/

.timeline{
    --title-color: var(--efride-black);
    --timeline-bar-size: 6px;
    --triangle-bw: 10px;
    --circle-width: 25px;
    --objects-margin: 10px;
    --cont-padding-tb: 10px;
    --cont-padding-lr: 40px;
    --resp-left-border: 70px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* vertical bar */
.timeline::after{
    content: '';
    position: absolute;
    width: var(--timeline-bar-size);
    background-color: var(--efride-grey);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: calc(var(--timeline-bar-size) * -0.5);
    border-radius: var(--radius);
}

.container{
    padding: var(--cont-padding-tb) var(--cont-padding-lr);
    position: relative;
    width: 50%;
    border-radius: var(--radius);
}

.content{
    background-color: var(--efride-white);
    position: relative;
    border-radius: 6px;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    border-radius: var(--radius);
}

.content figure{
    width: 100%;
    height: 100%;
    max-height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    border-radius: var(--radius) var(--radius) 0 0;
}

.content figure img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    border-radius: var(--radius) var(--radius) 0 0;
}

.content .text{
    padding: 10px;
}

.content .text h2{
    text-align: center;
    color: var(--title-color);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.content .text p{
    font-size: var(--small-size);
    margin-top: 10px;
}

.content .text p.desc{
    font-weight: bold;
    font-size: var(--medium-size);
    color: var(--efride-grey);
}

.content:hover{
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    cursor: -webkit-grab;
    cursor: grab;
    --title-color: var(--efride-blue);
}

.content:hover > h2{
    color: var(--efride-blue);
}

/* left containers */
.container.left{
    left: 0;
}

/* right containers */
.container.right{
    left: 50%;
}

/* triangles */
.container::before{
    content: " ";
    height: 0;
    position: absolute;
    top: calc(var(--cont-padding-tb) + var(--objects-margin));
    width: 0;
    z-index: 2;
    border: medium solid transparent;
}

/* triangles left */
.container.left::before{
    right: calc(var(--cont-padding-lr) - var(--triangle-bw));
    border-width: var(--triangle-bw) 0 var(--triangle-bw) var(--triangle-bw);
    border-color: transparent transparent transparent var(--efride-red);
}

/* triangles right */
.container.right::before{
    left: calc(var(--cont-padding-lr) - var(--triangle-bw));
    border-width: var(--triangle-bw) var(--triangle-bw) var(--triangle-bw) 0;
    border-color: transparent var(--efride-red) transparent;
}

/* circles */
.container::after{
    content: '';
    position: absolute;
    width: var(--circle-width);
    height: var(--circle-width);
    background-color: var(--efride-grey);
    top: calc(var(--cont-padding-tb) + var(--objects-margin) - (var(--circle-width) - var(--triangle-bw) * 2) * 0.5);
    border-radius: 50%;
    z-index: 1;
}

/* circles left */
.container.left::after{
    right: calc(var(--circle-width) * -0.5);
}

/* circles right */
.container.right::after{
    left: calc(var(--circle-width) * -0.5);
}

@media screen and (max-width: 950px){

    .timeline::after{
        left: calc(var(--resp-left-border) * 0.5);
    }

    .container{
        width: 100%;
        padding-left: var(--resp-left-border);
        padding-right: 0px;
    }

    /* right containers */
    .container.right{
        left: 0%;
    }

    /* triangles */
    .container.left::before, .container.right::before{
        left: calc(var(--resp-left-border) - var(--triangle-bw));
        border: medium solid transparent;
        border-width: var(--triangle-bw) var(--triangle-bw) var(--triangle-bw) 0;
        border-color: transparent var(--efride-red) transparent transparent;
    }

    /* circles */
    .container.left::after, .container.right::after{
        left: calc(var(--resp-left-border) * 0.5 - var(--circle-width) * 0.5);
    }

}

/******************************************************/

.team-cards-container{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 60px;
}

.team-card{
    --img-scale-factor: 1;
    position: relative;
    width: 200px;
    height: 350px;
    border-radius: var(--radius);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    border: 1px solid var(--efride-grey);
    overflow: hidden;
}

.team-card figure.photo{
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.team-card figure.photo img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    -webkit-transform: scale(var(--img-scale-factor));
    -ms-transform: scale(var(--img-scale-factor));
    transform: scale(var(--img-scale-factor));
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.team-card:hover{
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    cursor: -webkit-grab;
    cursor: grab;
    --img-scale-factor: var(--scale-coef);
}

.team-card:hover h2{
    color: var(--efride-blue);
}

.team-card-body{
    padding: 10px;
    height: 50%;
}

.team-card-body h2{
    font-size: var(--large-size);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    height: 40px;
}

.team-card-body p.statut{
    font-size: var(--medium-size);
    font-weight: bold;
    color: var(--efride-grey);
    height: 30px;
}

.team-card-body p.promo{
    font-size: var(--small-size);
    height: 30px;
}

.team-card-links{
    height: 55px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    gap: 10px;
}

.team-card-links figure{
    width: 30px;
    height: 30px;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.team-card-links figure img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}

.team-card-links figure:hover{
    -webkit-transform: scale(var(--scale-coef));
    -ms-transform: scale(var(--scale-coef));
    transform: scale(var(--scale-coef));
    cursor: pointer;
}

/******************************************************/

footer{
    --img-scale-f3: 1;
    background-color: var(--efride-black);
    position: static;
    width: 100%;
    height: var(--footer-height);
    left: 0;
    bottom: 0;
    z-index: 999;
}

footer #footer-logos{
    padding: 15px 15px 10px 15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 60px;
}

footer #footer-logos figure{
    height: 50px;
}

footer #footer-logos figure img{
    width: auto;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: scale(var(--img-scale-f3));
    -ms-transform: scale(var(--img-scale-f3));
    transform: scale(var(--img-scale-f3));
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

footer #footer-logos figure img:hover{
    --img-scale-f3: var(--scale-coef);
    cursor: pointer;
}

footer #footer-rights{
    color: var(--efride-white);
    font-size: var(--small-size);
    padding: 10px 15px 15px 15px;
}

footer #footer-rights a{
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    color: var(--efride-white);
}

footer #footer-rights a:hover{
    opacity: 0.5;
}

/******************************************************/

.retour{
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    --arrow-color: transparent;
    position: fixed;
    /* float: left; */
    padding: 10px;
    top: calc(var(--header-height) + 20px);
    left: 20px;
    width: 120px;
    height: auto;
    z-index: 1000;
    font-size: 120%;
}

.retour a{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--efride-blue);
}

.retour a .icon{
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    -webkit-transform: rotate(180deg) translateX(var(--link-icon-translate));
    -ms-transform: rotate(180deg) translateX(var(--link-icon-translate));
    transform: rotate(180deg) translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    color: var(--arrow-color);
}

.retour a span{
    color: var(--efride-blue);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.retour:has(:hover, :focus){
    cursor: pointer;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    --arrow-color: var(--efride-blue);
}

.retour a::before{
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    content: "";
}

/******************************************************/

#section-accueil{
    height: calc(100vh - var(--header-height));
    padding: 0;
    margin: 0 0 40px 0;
    position: relative;
}

.acc{
    position: relative;
    width: 100%;
    height: calc(1/3 * 100%);
    padding: 0;
    margin: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#saf1, #saf2{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.8;
}

#saf1 img, #saf2 img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#saf2{
    width: 275px;
    height: 275px;
    z-index: 1;
}

.acc1 h1{
    z-index: 2;
}

.counter-container{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    gap: 75px;
}

.counter{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: var(--efride-white);
    width: 200px;
    height: auto;
}

.counter .icon{
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin: 0 auto;
}

.counter .icon img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.counter .number{
    font-size: 35px;
}

.counter .title{
    font-size: 22px;
}

.page-title{
    font-size: 70px;
    font-weight: bold;
    color: var(--efride-white);
    margin: 0;
}

/******************************************************/

.text-presentation{
    padding: 20px 0 40px 0;
    margin: 0 auto;
    max-width: 700px;
    font-size: 18px;
}

.text-presentation a,
.mentions-legales a,
.section-description a{
    text-decoration: none;
    font-weight: bold;
    color: var(--efride-black);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.text-presentation a:hover,
.mentions-legales a:hover,
.section-description a:hover{
    color: var(--efride-blue);
}

/******************************************************/

.coord{
    max-width: 500px;
    margin: 0 auto;
}

.coord-elem{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.coord-icon{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    overflow: hidden;
}

.coord-icon img, .coord-link img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
}

.coord-content{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.coord-link{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.coord-link img{
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.coord-link img:hover{
    -webkit-transform: scale(var(--scale-coef));
    -ms-transform: scale(var(--scale-coef));
    transform: scale(var(--scale-coef));
    cursor: pointer;
}

.contact-text{
    padding-bottom: 20px;
}

.contact-invite{
    margin-top: 40px;
}

/******************************************************/

.mentions-legales{
    margin: 50px 100px;
    padding: 50px 0px;
    max-width: 50%;
    margin: 0 auto;
}

.mentions-legales h1 ~ p{
    color: var(--efride-grey);
    margin-bottom: 20px;
}

.mentions-legales h2{
    color: var(--efride-blue);
    margin-top: 50px;
    margin-bottom: 20px;
}

.mentions-legales div{
    margin-top: 30px;
}

.mentions-legales div p{
    text-align: justify;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .mentions-legales{
        max-width: 75%;
    }
}

@media screen and (max-width: 768px){
    .mentions-legales{
        max-width: 75%;
    }
}

/******************************************************/

main.sp{
    margin: 50px;
    padding: 0 50px;
}

.section-carroussel{
    width: 60%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.section-carroussel .slide{
    width: 80%;
    height: 90%;
    display: none;
    overflow: hidden;
    border-radius: var(--radius);
    position: absolute;
    left: 10%;
}

.section-carroussel .slide img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.section-carroussel .slide.active{
    display: block;
}

.section-carroussel .nav-box{
    width: auto;
    height: 90%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-carroussel .prev-box{
    right: 90%;
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
}

.section-carroussel .next-box{
    left: 90%;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
}

.section-carroussel .navv{
    width: 35px;
    height: 70px;
    font-size: var(--large-size);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px;
}

.section-carroussel .navv:hover{
    cursor: pointer;
    color: var(--efride-grey);
}

.dots{
    position: absolute;
    top: 90%;
    width: 100%;
    height: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
}

.dots .dot{
    width: 12px;
    height: 12px;
    background-color: var(--efride-grey);
    border-radius: 50%;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    cursor: pointer;
}

.dots .dot:hover{
    background-color: var(--efride-black);
}

.dots .dot.active{
    background-color: var(--efride-black);
}

/******************************************************/

.section-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0 100px;
    margin-bottom: 40px;
}

.section-info {
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.info + .info {
    margin-top: 20px;
}

.info figure {
    margin-right: 20px;
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.info figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.info p {
    margin: 0;
    text-align: left;
}

/******************************************************/

.section-description{
    text-align: justify;
    padding: 0 200px;
}

.section-description p {
    margin: 30px 0;
}
